![Image of Venturenix](http://www.venturenix.com//assets/images/venture-nix-logo.png)

# Python Data Structures: List, Tuple, Set and Dictionary

** Learning Objectives **

In this lecture, we will be covering 4 commonly used data structures in Python, which are
- List
- Tuple
- Set
- Dict

Offical tutorial: https://docs.python.org/3/tutorial/datastructures.html

## 1. List 
- General purpose
- Most commonly used
- Grow and shrink size as needed
- Dequence Type
- Sortable
- Mutable

### Shared operations of a Sequence (String, List, tuple)
- indexing
- slicing
- adding / concatenating
- multiplying
- checking memebership
- iterating
- check length
- get minimum
- get maximum
- sum of elements
- sorting

### Define a list

In [6]:
a = [1,2,3,4,5,6,7]

In [ ]:
type([1,2,3,4,5])

list

In [2]:
l = []

In [3]:
len(l)

0

In [8]:
a[:3]

[1, 2, 3]

In [9]:
a[-2:]

[6, 7]

In [ ]:
list()

[]

In [ ]:
[]

[]

In [ ]:
a = 1

In [ ]:
b = [1,2,3,4,5]
print(b)

[1, 2, 3, 4, 5]

### Length of a list

In [ ]:
len([1,2,3,4,5])

5

### a list can store a sequence of data with different data type

In [ ]:
l = [1,2.2, "3", True]
type(l)

list

### Access elements in a list

### Update an elemnt in a list

### Append an element to a list

### Insert an element to a list

### Remove an element from a list

### Check membership

### list of list

In [11]:
l = [0,1,2,3,4,[5,6,[7,8,[9]]]]

In [13]:
l[5][2][2][0]

9

### Copy a list

## Mutable and immutable objects
Mutable objects: list, dict, set, byte array
<br>
Immutable objects: int, float, string, tuple, frozen set

In [14]:
l1 = [1,2,3]
l2 = []
for i in l1:
    l2.append(i)

In [16]:
l = [1,2,3,4,5,6,7]

In [17]:
[i+1 for i in l]

[2, 3, 4, 5, 6, 7, 8]

### Exercise 1
Write a program to extract all even number elemets to a new list.
If the input list is [1,6,8,4,7,9,10,15,16,18], the output list should be [6,8,4,10,16,18]

In [8]:
l1 = [1,6,8,4,7,9,10,15,16,18]
l2 = []

def get_even(l):
    l_new = [i for i in l if i%2==0]
    return l_new
    
l2 = get_even(l1)

l2

[6, 8, 4, 10, 16, 18]

### Exercise 2
Write a program to check if a user input string is palindrome. (A palindrome is a string that reads the same forwards and backwards.) Example: Anna, Level, Madam, Mom are palindrom

In [10]:
def isPalindrom(s):
    for i in range(len(word)):
        if word[i] != word[-i-1]:
            return False
        return True
    
isPalindrom('Anna')

True

In [ ]:
def isPalindrom(s):
    return s == s[::-1]

### Exercise 3
Write a program that takes a list and returns a new list that contains all the elements of the first list with no duplicates.

In [2]:
l1 = [1,4,2,4,5,6,4,2]
l2 = []

def unique(l1,l2):
    for i in l1:
        if i not in l2:
            l2.append(i)
    return l2
    
l2 = unique(l1,l2)

l2

[1, 4, 2, 5, 6]

### Exercise 4
Write a program that takes two lists and returns True if they have at least one common member.

In [6]:
l1 = [1,6,8,4,7,9,10,15,16,18]
l2 = []
isTrue = False

def common_member(l1,l2):
    
    for i in l2:
        for j in l1:
            if i == j:
                isTrue = True
            return isTrue
    
isTrue = common_member(l1,l2)

isTrue

## 2. Tuple
- Immutable
- Useful for fixed data
- Faster than list
- sequence type

### Access en element in tuple

### Update tuple

## 3. Set
- Store non-duplicate items
- Very fast access vs list
- Math set ops
- Unordered

### Define a set

In [ ]:
s = {2,4,6,8,10}

### Access an element

### Set operation

## 4. Dictionary 
- Key-value pairs
- Associative array, like HashMap
- Unordered
- Keys must be unique

### Define a dictionary

In [12]:
d = dict()

In [13]:
d = {'A':123,'G':456,'D':789}

NameError: name 'd' is not defined

### Access an element in a dictionary

In [14]:
d['A']

123

### Update dictionary

In [ ]:
d['A'] = None

In [ ]:
d['B'] = 'abc'

### Check if a key exist

In [15]:
d.items()

dict_items([('A', 123), ('G', 456), ('D', 789)])

### Set default

In [16]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

## Big O andTime Complexity
https://wiki.python.org/moin/TimeComplexity

# HW1

write a function which input list with following propeteries
- all elements are positive integer 
- all elements exist twice except one
e.g [1,4,6,7,5,4,6,1,7] -> 5
and output the single occured element

In [30]:
def f(list1):
   
    for i in list1:
    
        if list1.count(i)== 1:
            return i
    
f([1,4,6,7,5,4,6,1,7])

5

In [36]:
L = [1,4,6,7,5,4,6,1,7]

def findSingle(L):
    for i in L:
        count = 0
        for j in L:
            if i==j:
                count+=1
            if count !=2:
                    return i

findSingle(L)

1

In [8]:
L = [1,4,6,7,5,4,6,1,7]

def f(L):
    count = 0
    dL = dict()
    for i in L:
        dL.update({i : count})
    
    
    for i in L:
        dL.update({i: count+1})
        
    return d

In [9]:
l = []
def findSingle_v2(l):
    d= dict()
    for i in l:
        if i not in d:
            d[i] = 1
        else:
            d[i] += 1
    for k,v in d.items():
        if v==1:
            return k
        
Single(k)

{1: 0}

In [4]:
l = []
def findSingle_v3(l):
    ans = l[0]
    for i in l[1:]:
        ans ^= i
    return ans

{1: 0}